body{
    background: rgb(228, 64, 113);
    width: 100%;
    height: 100vh;
}
h1{
    text-align: center;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
p{
    font-size: 35px;
    text-align: center;
    color: black;
}
ol li{
    text-align: center;
    font-size: 25px;
    margin-top: 5px;

}
ol ul{
    text-align: center;
    font-size: 25px;
}

img{
        display: block;
        margin-left: auto;
        margin-right: auto;
       
}
.text{
    font-size: 20px;
    text-decoration: none;
    color: rgb(245, 229, 229);
    text-align: center;
    justify-content: center;
    margin-left: 40%;
    margin-left: 40%;
    margin-top: 7%;
    text-decoration: underline;
}
table, th, td {
    margin-top: 5%;
    border:1px solid black;
  }